mixin a-text(data = {})
  if (data.size='small')
    p.a-text.a-text-small(data-color=data.color && data.color data-has-margin-top=data.hasMarginTop && data.hasMarginTop)
      block
  else if (data.size='medium')
    p.a-text.a-text-medium(data-color=data.color && data.color data-has-margin-top=data.hasMarginTop && data.hasMarginTop)
      block
  else if (data.size="large")
    p.a-text.a-text-large(data-color=data.color && data.color data-has-margin-top=data.hasMarginTop && data.hasMarginTop)
      block

